body {
    font-family: 'Priego', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.subpage {
    background-color: black;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-family: 'Priego Regular', sans-serif;
}

/* Header-Fix: Exakte Größe */
header img {
    width: 582px;
    height: 162.4px;
    position: absolute;
    top: 140px;
    left: 140px;
}

.parallax-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.aboutme-images {
    position: absolute;
}

.hover-image {
    position: absolute;
    transition: opacity 0.5s ease-in-out;
}

.hover-img {
    display: none;
    position: absolute;
}

.hover-image:hover .default-img {
    display: none;
}

.hover-image:hover .hover-img {
    display: block;
}

/* Opacity-Change bei Hover */
.hover-image:hover ~ #about-me {
    opacity: 0.5;
}

/* Footer in Priego */
footer {
    text-align: center;
    padding: 10px;
    font-family: 'Priego', sans-serif !important;
    font-size: 14px;
}
