/* Allgemeine Stile */
body {
    margin: 0;
    padding: 0;
    font-family: 'Priego', sans-serif;
    overflow: hidden; /* Verhindert Scrollen auf der Landing Page */
}

.subpage {
    overflow: auto; /* Scrollen auf Unterseiten erlaubt */
}

.dark-background {
    background-color: black;
    color: white;
}

.light-background {
    background-color: white;
    color: black;
}

/* Menü-Stil */
nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    font-size: 35px;
    color: black;
}

.subpage nav a {
    color: white;
} /* Weiße Schriftfarbe für Unterseiten */

/* Parallax Effekt für About Me */
.parallax-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.parallax-item {
    position: absolute;
    transition: transform 0.5s ease-in-out;
}

/* Hover-Effekt für About Me Bilder */
.hover-image {
    position: relative;
}

.default-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}

.hover-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 2;
}

.hover-image:hover .hover-img {
    opacity: 1;
}

/* Opacity-Reduzierung für About Me */
#about-me {
    transition: opacity 0.5s ease-in-out;
}

.hover-image:hover ~ #about-me {
    opacity: 0.5;
}